doctype html
html
  block head

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#banner
      h1 Awesome Chat
    block content
  footer &copy; 2015 Awesome Chat Application
  script(src='//localhost:35729/livereload.js')